@import "global";

:host {
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

m-card {
	margin-top: 50px;
	display: inline-block;
	margin: 10px;
	max-width: 500px;

	h1 {
		text-align: center;
	}

	div {
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		text-align: center;


		a {
			margin-right: 40px;
			text-decoration: none;
			color: @c-dark;

			&:hover paper-icon-button {
				background: @c-neutral-light;
			}
		}
	}
}