.container {
  width: 750px;
  margin: 0 auto;
  padding: 0 15px;
}
.right {
  float: right;
}
.left {
  float: left;
}
:host {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
m-card {
  margin-top: 50px;
  display: inline-block;
  margin: 10px;
  max-width: 500px;
}
m-card h1 {
  text-align: center;
}
m-card div {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
}
m-card div a {
  margin-right: 40px;
  text-decoration: none;
  color: #26252b;
}
m-card div a:hover paper-icon-button {
  background: #f2f2f2;
}
