@import "global";

m-card {
	margin-top: 50px;

	a {
		text-decoration: none;
		color: @c-dark;

		&:hover paper-icon-button {
			background: @c-neutral-light;
		}
	}

	div {
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		text-align: center;

		a {
			margin-right: 40px;
		}
	}
}