.container {
  width: 750px;
  margin: 0 auto;
  padding: 0 15px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.background {
  width: 100%;
  background-color: #33b5e5;
}
.content {
  padding: 25px 15%;
  color: rgba(255, 255, 255, 0.9);
}
.content h1 {
  color: #ffffff;
  font-size: 3em;
  font-weight: bold;
}
.content .about {
  font-size: 2em;
}
.content p {
  font-size: 1.5em;
}
/*

#welcome {
  background-color: @c-accent;
  color: @c-lighter;
  padding: 50px 0 75px 0;

  #greeting {
    color: @c-lightest;
    font-size: 3em;
    font-weight: bold;
  }

  #main-about-me {
    font-size: 2em;
  }

  #about-me {
    margin-top: 10px;
    font-size: 1.2em;
  }

  .btn {
    margin-top: 100px;
    color: @c-lighter;
    font-weight: bold;
    font-size: 1.5em;
  }
}*/
