@import "less/color-palette.less";
@import "less/button.less";

@import "less/navbar.less";
@import "less/welcome.less";
@import "less/projects.less";

body {
  margin: none;
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
}