.btn-dull {
  color: white;
  background-color: #26252b;
}
.btn-dull:hover {
  color: white;
  background-color: #1a191d;
}
/*
:host {
  display: block;
}

a {
  border: none;
  padding: 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}

:host(.dull) a {
  background-color: #26252b;
}

:host(.dull) a:hover {
  -webkit-filter: brightness(200%);
  -moz-filter: brightness(200%);
  -ms-filter: brightness(200%);
  -o-filter: brightness(200%);
  filter: brightness(200%);
}

:host(.standout) a {
  background-color: #33b5e5;
}

:host(.standout) a:hover {
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -ms-filter: brightness(50%);
  -o-filter: brightness(50%);
  filter: brightness(50%);  
}
*/
.navbar {
  background-image: none;
  background-color: #33b5e5;
  border: none;
  border-radius: 0;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
}
.navbar .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar .navbar-header img {
  height: 80px;
  border-radius: 80px;
  margin-bottom: 10px;
}
.navbar .navbar-header .navbar-toggle {
  margin-top: 25px;
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar .navbar-header .navbar-toggle:hover {
  border-color: #ffffff;
  background: none !important;
}
.navbar .navbar-header .navbar-toggle:hover .icon-bar {
  background-color: #ffffff;
}
.navbar .nav {
  float: right;
  margin-top: 25px;
}
.navbar .nav a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  margin-right: 40px;
  font-size: 1.5em;
}
.navbar .nav a:hover {
  color: #ffffff;
}
#welcome {
  background-color: #33b5e5;
  color: rgba(255, 255, 255, 0.9);
  padding: 50px 0 50px 0;
}
#welcome #greeting {
  color: #ffffff;
  font-size: 3em;
  font-weight: bold;
}
#welcome #main-about-me {
  font-size: 2em;
}
#welcome #about-me {
  margin-top: 10px;
  font-size: 1.2em;
}
#welcome .btn {
  margin-top: 100px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 1.5em;
}
#projects {
  padding: 50px 0 50px 0;
  color: #26252b;
  background-color: #e5e5e5;
  text-align: center;
}
#projects img {
  height: 50px;
}
#projects .heading {
  font-weight: bold;
}
#projects a {
  color: #33b5e5;
}
#projects a:hover {
  color: #14799e;
}
#links {
  background-color: #3f4245;
  z-index: -1;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#links .col-sm-1 {
  margin-right: 58px;
  margin-bottom: 25px;
}
#links #say-hi {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.9);
}
#links #say-hi strong {
  color: #33b5e5;
}
#links #link-buttons {
  padding-top: 25px;
}
#links #link-buttons .link-wrapper {
  margin-right: 25px;
}
#links #link-buttons .link-wrapper a {
  font-size: 3em;
  color: #26252b;
}
#links #link-buttons .link-wrapper a img {
  border-radius: 5px;
  padding: 25px;
  background-color: #222222;
  height: 95px;
  width: 95px;
}
#links #link-buttons .link-wrapper a:hover img {
  background-color: #0e0f10;
}
body {
  background-color: #3f4245;
  margin: none;
  width: 100%;
  font-family: "Open Sans";
}
.spacer {
  margin-right: 10px;
}
