@import "color-palette.less";

.btn-dull {
  color: white;
  background-color: @c-dark;
  
  img {
    height: 15px !important;
    width: 15px !important;
    margin-bottom: 3px;
    border: none;
  }
}

.btn-dull:hover {
  color: white;
  background-color: @c-darker;
}