@import "color-palette.less";

#projects {
  padding: 50px 0 50px 0;
  color: @c-dark;
  //height: 200px;
  background-color: @c-neutral;
  text-align: center;

  img {
    height: 50px;
  }

  .heading {
    font-weight: bold;
  }

  a {
    color: @c-accent;
  }

  a:hover {
    color: @c-accent-dark;
  }
}