@import "color-palette.less";

#welcome {
  background-color: @c-accent;
    color: @c-lighter;
  padding: 50px 0 50px 0;

  #greeting {
    color: @c-lightest;
    font-size: 3em;
    font-weight: bold;
  }

  #main-about-me {
    font-size: 2em;
  }

  #about-me {
    margin-top: 10px;
    font-size: 1.2em;
  }

  .btn {
    margin-top: 100px;
    color: @c-lighter;
    font-weight: bold;
    font-size: 1.5em;
  }
}